dataset/
fast_dataset/
*.zip
kaggle.json
__pycache__/
.ipynb_checkpoints/

# PyTorch model weights (Fondamentale per i Modelli A e B!)
*.pth
*.pt

# Permetti il caricamento dei modelli migliori della Grid Search
!models_best/*.pth
!models_best/*.json
